/* Styles for How To page */

.howto-title-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
}
.howto-title-bar-title {
  font-size: 1.5em;
}
.howto-title-bar-close {
  justify-self: right;
  align-self: center;
  cursor: pointer;
}
.howto-about-text {
  text-align: center;
  opacity: 0.6;
  font-size: 0.8em;
}
